body{
    background:#afdfe4;
}
.top{
    position:absolute;
    left:0px;
    right:0px;
    height:10%;
    top:0px;
}
#gujing{
    height:80px;
    width:100px;
    position:absolute;
    left:10%;
}
#top1{
    position:absolute;
    left:16%;
    top:12%;
    font-size:130%;
}
a{
text-decoration: none;
}
#top2{
    position:absolute;
    right:10%;
    top:38%;
    font-size:100%;
}
#top3{
     position:absolute;
        right:7%;
        top:38%;
        font-size:100%;
}
.main{
       background:white;
       width:1000px;
       height:600px;
       position:absolute;
       right:18%;
       top:130px;
       opacity:0.5;
       border-radius: 5px;
       box-shadow:0 0 10px #000;
}
.last{
    position:fixed;
    bottom:10px;
    left:0;
    right:0;
}
.footer-text {
    color: #33a3dc;
}
ul{
    padding-left:60px;
    line-height:50px;
    font-size:110%;
    float:left;
}
input{
    outline-color:#00a6ac;
}
.input{
    width:200px;
    height:30px;
    font-size:90%;
}
.ul2{
    padding-left:160px;
}
.btn{
    background: #00a6ac;
    border:0px;
    width:93%;
    height:55px;
    margin: auto;
    color:white;
    font-size:140%;
    display: block;
    text-align:center;
    border-radius: 9px;
}